body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.deep{
    color: orange;
}
section{
    display: flex;
}
.dill{
    text-decoration: none;
    background: linear-gradient(55deg, rgb(255, 72, 0), rgb(62, 255, 4));
    padding: 10px 45px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}
.new-file{
    text-decoration: none;
    background: linear-gradient(55deg, rgb(255, 72, 0), rgb(1, 141, 255));
    padding: 10px 45px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}
    .new-class{
        width:40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
    }
    h1{
        font-size: 50px;
    }
    h1 span{
        color: orange;
    }
    .new-class img{
        width: 100%;
    }